<!DOCTYPE html>
<html>
<head>
    <title>Add Book</title>
</head>
<body>
    <h1>Add New Book</h1>
    <form method="POST">
        Title: <input type="text" name="title" required><br>
        Author: <input type="text" name="author" required><br>
        Genre: <input type="text" name="genre"><br>
        Publication Date: <input type="date" name="publication_date"><br>
        ISBN: <input type="text" name="isbn" required><br>
        <button type="submit">Add Book</button>
    </form>
</body>
</html>
